@import "../base/base";


.button-container {
    display: flex;
}

.button {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: $darker-white;
    border: 1px
}

.button:hover {
    background-color: darken($darker-white, 10);
}

.button:disabled {
    background-color: darken($darker-white, 20);
}