@import "../base/base";

.playlist-selection__list {
    margin: 1rem;
    color: $darker-white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.playlist-selection__item {
    color: $darker-white;
    background-color: #6c757d;
    border: 1px solid $light-grey;
    padding: 0.7rem;
}

.playlist-selection__item:hover {
    background-color: lighten(#6c757d, 10);
    color: black;
}

.playlist-selection__item.active {
    background-color: lighten(#6c757d, 20);
    color: black;
}