@import "../base/base";

.player-button {
  color: $darker-white;
  background-color: transparent;
  border: 1px solid $darker-white;
  padding: 1.5rem;
  border-radius: 5%;
  font-size: 1.5rem;
}

.player-button:hover {
  color: darken($darker-white, 10%);
  border-color: darken($darker-white, 10%);
}

@media (max-width:370px) {
  .player-button {
    padding: 1rem;
  }

}