// @import "./components/spotifyApp";
// @import "./components/playlistSelection";
// @import "./components/trackedPlaylists";
// @import "./components/player";
// @import "./components/trackContext";

* {
    padding: 2px;
}

body {
    background: #121212 !important;
}

.MuiPaper-root {
    margin: 10px;
    background: transparentize($color: white, $amount: 1-0.05)
}

.MuiTypography-h1 {
    font-size: 2rem;
}

.MuiTypography-h2 {
    font-size: 1.5rem;
}


.MuiTypography-root {
    margin: 5px;
    color: white;
}

.MuiButton-containedPrimary {
    margin: 5px;
}

.MuiTable-root {
    background: transparentize($color: white, $amount: 1-0.10);
    margin: 10px 10px;
    border-radius: 8px;
    width: 60%;
}

.MuiTableCell-root {
    color: white;
}